/*exemplo-americanas.html*/

a { 
   background: white;
   border: 2px solid gray;
   border-radius: 5px;
   color: black;
   padding: 5px;
   margin: 2px;
   display: inline-block;
}

#topo{
   background: red;
   margin-bottom: 2px;
   padding: 10px;
   border-radius: 10px;
}

#promocao{
   background: lightgray;
}

.destaque{
   background: lightcoral;
}
