
    /* 
    Box Model (Modelo de Caixa)

    Padding -> espaço interno entre o conteúdo e a borda.
    Border  -> contorno que envolve o padding e o conteúdo.
     Margin  -> espaço externo que separa a caixa de outros elementos.
    */

        h1 {
            background-color: orange;
            border: 5px solid darkorange;
            color: white;
            padding: 20px;
            margin: 20px;
        }

        p {
           background-color: lightgray;
           border: 3px solid gray;
           padding: 10px;
           margin: 20px;
           color: purple;
        }