a {
   color: green;
}

p {
   color: indianred; 
}

li {
   background-color: lightblue;
   border: 2px solid blue;
}

table {
    background-color: orange;
    border: 5px solid darkred;
}

td {
    border: 5px solid black;
}